main {
    padding-top: 88px;
}

.main-inner {
    max-width: 1440px;
    background-color: white;
    margin: 0 auto;
}


/*team*/

.team {
    padding: 72px 120px;
    text-align: center;
}

.team-h2 {
    font-family: Noto Sans JP;
    font-size: 32px;
    font-weight: 350;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #9958A4;
    margin-bottom: 48px;
}

.team-contents-wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, 354px);
    justify-content: center;
    margin-bottom: 48px;
}

.team-contents {
    text-align: center;
}

.team-contents-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
}

.team-contents-text-name {
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #616063;
    margin-bottom: 4px;
}

.team-contents-text-sub-name {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #9958A4;
    margin-bottom: 16px;
}

.team-contents-text-position {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 350;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #9E9E9E;
    margin-bottom: 16px;
}

.team-contents-text-content {
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 350;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #6F6F6F;
}


/*external-advisor*/

.external-advisor {
    padding: 72px 120px;
    text-align: center;
    background-color: rgba(234, 228, 235, 0.2);
}

.external-advisor-h2 {
    font-family: Noto Sans JP;
    font-size: 32px;
    font-weight: 350;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #9958A4;
    margin-bottom: 48px;
}

.external-advisor-contents-wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, 354px);
    justify-content: center;
    margin-bottom: 48px;
}

.external-advisor-contents {
    text-align: center;
}

.external-advisor-contents-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
}

.external-advisor-contents-text-name {
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #616063;
    margin-bottom: 4px;
}

.external-advisor-contents-text-sub-name {
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #9958A4;
    margin-bottom: 16px;
}

.external-advisor-contents-text-position {
    height: 66px;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-weight: 350;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #9E9E9E;
    margin-bottom: 16px;
}

.external-advisor-contents-text-content {
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 350;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #6F6F6F;
}



/*partner*/

.partner {
    padding: 72px 120px;
    text-align: center;
}

.partner-h2 {
    font-family: Noto Sans JP;
    font-size: 32px;
    font-weight: 350;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #9958A4;
    margin-bottom: 48px;
}

.partner-contents-wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, 354px);
    justify-content: center;
    margin-bottom: 48px;
}

.partner-contents {
    text-align: center;
}

.partner-contents-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
}

.partner-contents-text-name {
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #616063;
    margin-bottom: 4px;
}

.partner-contents-text-content {
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 350;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #6F6F6F;
}

.partner-link-button {
    display: inline-block;
    position: relative;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #9958A4;
    padding: 8px 32px;
    border: #9958A4 solid 1px;
    border-radius: 100px;
    width: 134px;
    text-align: center;
}

.partner-link-button-vector {
    width: 42px;
    position: absolute;
    top: 50%;
    right: -43px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



@media (max-width: 910px) {

    /*team*/

    .team {
        padding: 32px 20px;
    }

    .team-h2 {
        margin-bottom: 24px;
        text-align: center;
    }

    .team-contents-wrapper {
        margin-bottom: 24px;
    }


    /*external-advisor*/

    .external-advisor {
        padding: 32px 20px;
    }

    .external-advisor-h2 {
        margin-bottom: 24px;
        text-align: center;
    }

    .external-advisor-contents-wrapper {
        margin-bottom: 24px;
    }
    .external-advisor-contents-text-position {
        height: auto;
    }

    /*partner*/

    .partner {
        padding: 32px 20px;
    }

    .partner-h2 {
        margin-bottom: 24px;
        text-align: center;
    }

    .partner-contents-wrapper {
        margin-bottom: 24px;
    }


    .partner-link-button {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.04em;

        color: #9958A4;
        padding: 16px 24px;
        border: #9958A4 solid 1px;
        border-radius: 100px;
    }

    .partner-link-button-vector {
        width: 35px;
        height: auto;
        right: -36px;
    }



}